<h1><%= @district.name %></h1>

<ul>
  <li>Address: <%= @district.address %></li>
  <li>City: <%= @district.city %></li>
  <li>State: <%= @district.state %></li>
  <li>Zip Code: <%= @district.zip %></li>
</ul>

<h3>Clients:</h3>
<table>
  <tbody>
  <% @clients.each do |client| %>
  <tr>
      <td>◦ <%= client.name%></td>
        <td><%=link_to "✐", edit_district_client_path(@district, client) %></td>
        <td><%=link_to "✘",district_client_path(@district, client), method: :delete, data: {confirm: "Are you sure?"} %></td>
  <% end %>
  </tr>
</tbody>
</table>
