<h1><%= @district.name %></h1>

<ul>
  <li>Address: <%= @district.address %></li>
  <li>City: <%= @district.city %></li>
  <li>State: <%= @district.state %></li>
  <li>Zip Code: <%= @district.zip %></li>
</ul>
