<h1><%= @worker.name %></h1>

<ul>
  <li>Date of Birth: <%= @worker.dob %></li>
  <li>Address: <%= @worker.address %></li>
  <li>City: <%= @worker.city %></li>
  <li>State: <%= @worker.state %></li>
  <li>Zip Code: <%= @worker.zip %></li>
</ul>
