<h1><%= @client.name %></h1>

<ul>
  <li>Date of Birth: <%= @client.dob %></li>
  <li>Address: <%= @client.address %></li>
  <li>City: <%= @client.city %></li>
  <li>State: <%= @client.state %></li>
  <li>Zip Code: <%= @client.zip %></li>
</ul>
