<!DOCTYPE html>
<html>
<head>
  <title>BreakProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
  <nav>
    <%= link_to "View Districts", districts_path, class: "home-page" %>

</header>


<%= yield %>

</body>
</html>
